.TitleDesc {
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    /* letter-spacing: 0.1em; */
}

.TitleDesc div.tt1 {
    color: #FF64AE;
    font-weight: 600;
    line-height: 125%;
}

.TitleDesc h1 {
    color: #091156;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */

    text-align: center;
}

.TitleDesc p {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
}