.SiteFooter {
    background-repeat: no-repeat;
    height: 700px;
    position: relative;

}

.SiteFooter .logoim {
    display: flex;
    position: absolute;
    left: 150px;
    top: 240px;
    width: 995px;
}

.w3-a {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: #D7DBFF;
}

.w3-a li {
    margin-top: 15px;
    width: 215px;
}


.iconContact {
    display: flex;
    position: absolute;
    left: 180px;
    top: 442px;
    /* width: 995px; */
    gap: 410px;
    align-items: center;
    justify-content: center;
}

.icn {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.hreff {
    color: #D7DBFF;

}

.BtnTotop button {
    display: flex;
    position: absolute;
    top: 500px;
    left: 1325px;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}